.Homeb{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-family: "Poppins", sans-serif;
}

.Introd-text{
    text-align: center;
    max-width: 800px;
}

.Introd-text h1{
    font-size: 60px;
    font-weight: 600;
    
}

.Introd-text p{
    font-size: 15px;
    margin: 10px auto 20px;
    line-height: 1.2;
}

.Home-left{
    flex-basis: 60%;
    position: relative;
}

.Home-right{
    flex-basis: 56%;
}

.develop{
    width: 100%;
    border-radius: 10px;
}

.menu-icon{
    display: none;
}


@media (max-width: 800px) {
    .Homeb{
        flex-direction: column;
    }
    .Home-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .Home-right{
        flex-basis: 100%;
        margin: 40px;
    }
    .Introd-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto; 
    }
    nav{
        padding: 15px 0;
    }
   
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        
        z-index: -1;
        width: 200px;
        padding-top: 80px;
        transition: 0.5s;
        
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }

    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;   
    }

}